In [48]:
import pandas as pd
import numpy as np
from datetime import datetime, time

In [49]:
# Leemos el archivo 'tablasConcatenadas.xlsx'
dfconsumo=pd.read_excel('tablasConcatenadas.xlsx')
dfconsumo.tail()

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),tablas_num
37996,30/4/2022 23:00:00,561.0,41.361668,45.970928,136.364151,190.365860,tabla_2204.xlsx
37997,30/4/2022 23:15:00,572.0,41.342281,41.040997,135.091873,187.250534,tabla_2204.xlsx
37998,30/4/2022 23:30:00,482.0,7.884779,46.314167,122.927292,153.835236,tabla_2204.xlsx
37999,30/4/2022 23:45:00,455.0,7.463580,32.700390,116.371727,147.870026,tabla_2204.xlsx
38000,1/5/2022 00:00:00,359.0,4.567657,32.796932,103.048500,97.784195,tabla_2204.xlsx

In [50]:
#Corroboramos la existencia de datos null
def control_nulls(df):
    null_columns = dfconsumo.columns[dfconsumo.isnull().any()]
    dfconsumo[null_columns].isnull().sum()
    print(dfconsumo[dfconsumo.isnull().any(axis=1)][null_columns].head())

control_nulls(dfconsumo)

      COCS.COCS-MT-01\nReal Power\n(kW)  COCS.COCS-TR-01\nReal Power\n(kW)  \
41                                  NaN                                NaN
734                                 NaN                         231.300491
758                                 NaN                           6.228995
759                               677.0                                NaN
1042                                NaN                          40.261272

      COCS.COCS-TR-02\nReal Power\n(kW)  COCS.COCS-TR-03\nReal Power\n(kW)  \
41                                  NaN                                NaN
734                          224.009262                         314.573792
758                           53.373058                         294.583374
759                                 NaN                                NaN
1042                         171.504791                         241.091141

      COCS.COCS-TR-04\nReal Power\n(kW)
41                                  NaN
734                          386.557159
758                          131.181381
759                                 NaN
1042                         239.977982

In [51]:
#Creamos un ciclo for para iterar columnas y 
# completar valores con el resultado de la media de el valor anterior y posterior de la columna correspondiente

for col in list(dfconsumo.columns)[1:]:
    for i in range(len(dfconsumo[col])):
        if pd.isna(dfconsumo[col][i]):
            if i == 0:
                dfconsumo[col][i] = dfconsumo[col][i+1]
            elif i == len(dfconsumo[col]) - 1:
                dfconsumo[col][i] = dfconsumo[col][i-1]
            else:
                dfconsumo[col][i] = (dfconsumo[col][i+1] + dfconsumo[col][i-1])/2

# Observamos las primeras 5 filas
dfconsumo.head()

C:\Users\adiav\AppData\Local\Temp/ipykernel_4480/305204592.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfconsumo[col][i] = (dfconsumo[col][i+1] + dfconsumo[col][i-1])/2

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),tablas_num
0,1/4/2021 00:15:00,331.0,4.361937,33.411430,106.244453,57.942059,tabla_2104.xlsx
1,1/4/2021 00:30:00,328.0,4.283674,34.312851,111.728188,53.709923,tabla_2104.xlsx
2,1/4/2021 00:45:00,295.0,4.216628,38.764618,87.968132,53.937267,tabla_2104.xlsx
3,1/4/2021 01:00:00,318.0,4.162058,33.617935,100.776886,56.016811,tabla_2104.xlsx
4,1/4/2021 01:15:00,266.0,4.255610,34.056599,92.210991,44.739353,tabla_2104.xlsx

In [52]:
#Corroboramos la existencia de datos null

control_nulls(dfconsumo)

      COCS.COCS-MT-01\nReal Power\n(kW)  COCS.COCS-TR-01\nReal Power\n(kW)  \
3269                                NaN                                NaN
3270                                NaN                                NaN
3271                                NaN                                NaN
3272                                NaN                                NaN
3273                                NaN                                NaN

      COCS.COCS-TR-02\nReal Power\n(kW)  COCS.COCS-TR-03\nReal Power\n(kW)  \
3269                                NaN                                NaN
3270                                NaN                                NaN
3271                                NaN                                NaN
3272                                NaN                                NaN
3273                                NaN                                NaN

      COCS.COCS-TR-04\nReal Power\n(kW)
3269                                NaN
3270                                NaN
3271                                NaN
3272                                NaN
3273                                NaN

In [53]:
# completamos con la media de los valores de cada columna los valores que aún continúan vacíos 
# ( porque no tienen valor anterior y posterior para calcular la media con el ciclo for)

dfconsumo = dfconsumo.fillna(dfconsumo.mean())

C:\Users\adiav\AppData\Local\Temp/ipykernel_4480/2101931974.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfconsumo = dfconsumo.fillna(dfconsumo.mean())

In [54]:
#Corroboramos la existencia de datos null
control_nulls(dfconsumo)

Empty DataFrame
Columns: []
Index: []

In [55]:
#Creamos un archivo excel 'dfConsumoEnergeticoCompleto.xlsx'
dfconsumo.to_excel('df_1_tablasCE_sin_nulls.xlsx', index=True)

In [56]:
#Agregamos columnas Suma TRs y atribuimos la diferencia con MT por consumo Cine

dfconsumo['Suma-TR-1,2,3,4-(Kw)']=dfconsumo.loc[:, [
    'COCS.COCS-TR-01\nReal Power\n(kW)', 'COCS.COCS-TR-02\nReal Power\n(kW)', 'COCS.COCS-TR-03\nReal Power\n(kW)', 'COCS.COCS-TR-04\nReal Power\n(kW)']].sum(axis=1)
dfconsumo['Diferencia_cine']=dfconsumo.loc[:, 'COCS.COCS-MT-01\nReal Power\n(kW)'] - dfconsumo.loc[:,'Suma-TR-1,2,3,4-(Kw)']

# Observamos las primeras o las últimas filas con head o tail
dfconsumo.head(120)

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),tablas_num,"Suma-TR-1,2,3,4-(Kw)",Diferencia_cine
0,1/4/2021 00:15:00,331.0,4.361937,33.411430,106.244453,57.942059,tabla_2104.xlsx,201.959879,129.040121
1,1/4/2021 00:30:00,328.0,4.283674,34.312851,111.728188,53.709923,tabla_2104.xlsx,204.034635,123.965365
2,1/4/2021 00:45:00,295.0,4.216628,38.764618,87.968132,53.937267,tabla_2104.xlsx,184.886645,110.113355
3,1/4/2021 01:00:00,318.0,4.162058,33.617935,100.776886,56.016811,tabla_2104.xlsx,194.573691,123.426309
4,1/4/2021 01:15:00,266.0,4.255610,34.056599,92.210991,44.739353,tabla_2104.xlsx,175.262553,90.737447
...,...,...,...,...,...,...,...,...,...
115,2/4/2021 05:00:00,251.0,4.226686,34.762478,107.131210,43.622738,tabla_2104.xlsx,189.743112,61.256888
116,2/4/2021 05:15:00,235.0,4.297944,34.795048,88.457222,42.857281,tabla_2104.xlsx,170.407494,64.592506
117,2/4/2021 05:30:00,237.0,4.258327,37.639088,99.935646,41.345329,tabla_2104.xlsx,183.178390,53.821610
118,2/4/2021 05:45:00,254.0,4.256195,36.026333,101.840935,40.444546,tabla_2104.xlsx,182.568008,71.431992
119,2/4/2021 06:00:00,231.0,4.238745,37.297031,90.682335,43.608768,tabla_2104.xlsx,175.826880,55.173120

In [57]:

#Corroboramos la existencia de datos null
control_nulls(dfconsumo)

Empty DataFrame
Columns: []
Index: []

In [58]:
# Separamos columna 'Timestamp' en Fecha y Hora con datetime y nombre del día
# calculamos promedios de consumo energético agrupando datos por hora

dfconsumo['Timestamp'] = pd.to_datetime(dfconsumo['Timestamp'],format='%d/%m/%Y %H:%M:%S')
dfconsumo = dfconsumo.groupby([dfconsumo['Timestamp'].dt.date,
                              dfconsumo['Timestamp'].dt.hour,dfconsumo['Timestamp'].dt.day_name()]).mean()

In [59]:
# Observamos las primeras o últimas filas
dfconsumo.head(36)

                                COCS.COCS-MT-01\nReal Power\n(kW)  \
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday                              318.00
           1         Thursday                              283.25
           2         Thursday                              262.00
           3         Thursday                              262.25
           4         Thursday                              254.50
           5         Thursday                              261.25
           6         Thursday                              250.25
           7         Thursday                              283.75
           8         Thursday                              357.75
           9         Thursday                              441.00
           10        Thursday                              535.00
           11        Thursday                              786.00
           12        Thursday                              985.50
           13        Thursday                              965.50
           14        Thursday                              955.00
           15        Thursday                              987.00
           16        Thursday                              990.75
           17        Thursday                              934.50
           18        Thursday                              945.25
           19        Thursday                              931.50
           20        Thursday                              943.50
           21        Thursday                              707.25
           22        Thursday                              486.75
           23        Thursday                              405.00
2021-04-02 0         Friday                                333.50
           1         Friday                                276.00
           2         Friday                                248.00
           3         Friday                                261.25
           4         Friday                                249.50
           5         Friday                                244.25
           6         Friday                                236.00
           7         Friday                                277.00
           8         Friday                                324.25
           9         Friday                                349.75
           10        Friday                                449.75
           11        Friday                                803.50

                                COCS.COCS-TR-01\nReal Power\n(kW)  \
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday                            4.287413
           1         Thursday                            4.235417
           2         Thursday                            4.314738
           3         Thursday                            4.309554
           4         Thursday                            4.222909
           5         Thursday                            4.275238
           6         Thursday                            4.250385
           7         Thursday                            4.162274
           8         Thursday                            9.991618
           9         Thursday                           25.279032
           10        Thursday                           46.398186
           11        Thursday                           60.657964
           12        Thursday                          101.302887
           13        Thursday                          122.729883
           14        Thursday                          109.273493
           15        Thursday                          109.232595
           16        Thursday                          116.838007
           17        Thursday                           87.005589
           18        Thursday                           90.111280
           19        Thursday                           80.641998
           20        Thursday                           72.620667
           21        Thursday                           23.164447
           22        Thursday                            4.773667
           23        Thursday                            4.635912
2021-04-02 0         Friday                              4.327425
           1         Friday                              4.267705
           2         Friday                              4.263146
           3         Friday                              4.269024
           4         Friday                              4.322462
           5         Friday                              4.259788
           6         Friday                              4.233285
           7         Friday                              4.290856
           8         Friday                             12.932104
           9         Friday                             12.888098
           10        Friday                             24.310883
           11        Friday                             53.415152

                                COCS.COCS-TR-02\nReal Power\n(kW)  \
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday                           35.496300
           1         Thursday                           34.375046
           2         Thursday                           36.757257
           3         Thursday                           33.667495
           4         Thursday                           33.963629
           5         Thursday                           36.765526
           6         Thursday                           38.849035
           7         Thursday                           37.991679
           8         Thursday                           35.908416
           9         Thursday                           59.974596
           10        Thursday                          101.990836
           11        Thursday                          179.484673
           12        Thursday                          194.442482
           13        Thursday                          188.462151
           14        Thursday                          187.650398
           15        Thursday                          181.749630
           16        Thursday                          184.585072
           17        Thursday                          184.300877
           18        Thursday                          183.849960
           19        Thursday                          190.773422
           20        Thursday                          180.076134
           21        Thursday                           85.634481
           22        Thursday                           38.756466
           23        Thursday                           37.674466
2021-04-02 0         Friday                             36.942282
           1         Friday                             35.268207
           2         Friday                             39.724631
           3         Friday                             34.782600
           4         Friday                             36.555421
           5         Friday                             35.805737
           6         Friday                             34.614469
           7         Friday                             35.695038
           8         Friday                             42.734205
           9         Friday                             57.648052
           10        Friday                             87.135975
           11        Friday                            182.335815

                                COCS.COCS-TR-03\nReal Power\n(kW)  \
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday                          101.980258
           1         Thursday                          100.864744
           2         Thursday                          101.914867
           3         Thursday                          109.414841
           4         Thursday                          106.610529
           5         Thursday                          112.853405
           6         Thursday                          103.759886
           7         Thursday                          136.515797
           8         Thursday                          190.865562
           9         Thursday                          239.487690
           10        Thursday                          247.650391
           11        Thursday                          278.185341
           12        Thursday                          276.636406
           13        Thursday                          266.037033
           14        Thursday                          280.000107
           15        Thursday                          275.987869
           16        Thursday                          268.405369
           17        Thursday                          287.091774
           18        Thursday                          311.128754
           19        Thursday                          306.673721
           20        Thursday                          321.120270
           21        Thursday                          294.742760
           22        Thursday                          176.793575
           23        Thursday                          128.039879
2021-04-02 0         Friday                            117.607502
           1         Friday                            106.743055
           2         Friday                             99.019485
           3         Friday                            108.606304
           4         Friday                            104.385548
           5         Friday                             99.341253
           6         Friday                             97.388046
           7         Friday                            137.312078
           8         Friday                            162.452175
           9         Friday                            160.467915
           10        Friday                            165.492920
           11        Friday                            199.178940

                                COCS.COCS-TR-04\nReal Power\n(kW)  \
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday                           55.196416
           1         Thursday                           48.259688
           2         Thursday                           41.221738
           3         Thursday                           39.915159
           4         Thursday                           39.958235
           5         Thursday                           38.547090
           6         Thursday                           41.508213
           7         Thursday                           39.049049
           8         Thursday                           52.982742
           9         Thursday                           64.497467
           10        Thursday                           71.826039
           11        Thursday                          164.707611
           12        Thursday                          305.773582
           13        Thursday                          276.165127
           14        Thursday                          263.267490
           15        Thursday                          278.455399
           16        Thursday                          266.302383
           17        Thursday                          246.108116
           18        Thursday                          219.429653
           19        Thursday                          214.861988
           20        Thursday                          217.554478
           21        Thursday                          160.645479
           22        Thursday                          119.630419
           23        Thursday                           83.760351
2021-04-02 0         Friday                             46.277172
           1         Friday                             43.000004
           2         Friday                             42.290854
           3         Friday                             43.629207
           4         Friday                             43.522449
           5         Friday                             42.067473
           6         Friday                             43.400347
           7         Friday                             43.915184
           8         Friday                             42.467730
           9         Friday                             49.446990
           10        Friday                             77.884319
           11        Friday                            241.539787

                                Suma-TR-1,2,3,4-(Kw)  Diferencia_cine
Timestamp  Timestamp Timestamp
2021-04-01 0         Thursday             196.960387       121.039613
           1         Thursday             187.734895        95.515105
           2         Thursday             184.208600        77.791400
           3         Thursday             187.307048        74.942952
           4         Thursday             184.755302        69.744698
           5         Thursday             192.441258        68.808742
           6         Thursday             188.367519        61.882481
           7         Thursday             217.718799        66.031201
           8         Thursday             289.748338        68.001662
           9         Thursday             389.238785        51.761215
           10        Thursday             467.865451        67.134549
           11        Thursday             683.035588       102.964412
           12        Thursday             878.155357       107.344643
           13        Thursday             853.394194       112.105806
           14        Thursday             840.191488       114.808512
           15        Thursday             845.425493       141.574507
           16        Thursday             836.130831       154.619169
           17        Thursday             804.506355       129.993645
           18        Thursday             804.519648       140.730352
           19        Thursday             792.951130       138.548870
           20        Thursday             791.371548       152.128452
           21        Thursday             564.187167       143.062833
           22        Thursday             339.954127       146.795873
           23        Thursday             254.110608       150.889392
2021-04-02 0         Friday               205.154381       128.345619
           1         Friday               189.278970        86.721030
           2         Friday               185.298116        62.701884
           3         Friday               191.287135        69.962865
           4         Friday               188.785880        60.714120
           5         Friday               181.474251        62.775749
           6         Friday               179.636147        56.363853
           7         Friday               221.213157        55.786843
           8         Friday               260.586213        63.663787
           9         Friday               280.451055        69.298945
           10        Friday               354.824097        94.925903
           11        Friday               676.469694       127.030306

In [60]:
#Creamos un archivo excel 'df_2_CE_SumaTRs_DifCine.xlsx'
dfconsumo.to_excel('df_2_CE_SumaTRs_DifCine.xlsx', index=True)

In [61]:
#Creamos un ciclo for para volver a combinar valores de la columna 'Timestamp'
data = []
for index, row in dfconsumo.iterrows():
    data.append([datetime.combine(index[0], time(hour=index[1])),index[2]] +
        list(row.values))

In [62]:
dfconsumo = pd.DataFrame(data, columns=['Timestamp','Día']+ list(dfconsumo.columns))

In [63]:
dfconsumo.head(5)

,Timestamp,Día,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),"Suma-TR-1,2,3,4-(Kw)",Diferencia_cine
0,2021-04-01 00:00:00,Thursday,318.00,4.287413,35.496300,101.980258,55.196416,196.960387,121.039613
1,2021-04-01 01:00:00,Thursday,283.25,4.235417,34.375046,100.864744,48.259688,187.734895,95.515105
2,2021-04-01 02:00:00,Thursday,262.00,4.314738,36.757257,101.914867,41.221738,184.208600,77.791400
3,2021-04-01 03:00:00,Thursday,262.25,4.309554,33.667495,109.414841,39.915159,187.307048,74.942952
4,2021-04-01 04:00:00,Thursday,254.50,4.222909,33.963629,106.610529,39.958235,184.755302,69.744698

In [64]:
control_nulls(dfconsumo)

Empty DataFrame
Columns: []
Index: []

In [65]:
#Creamos archivo excel con promedios consumos por hora

dfconsumo.to_excel('df_CE_prom_hora_terminado.xlsx',index=True)